.img {
    object-fit: cover;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
    width: 100%;
}