<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<mat-card>
    <mat-card-header>
        <mat-card-title matBadge="{{luckyAttendeesCount}}" matBadgePosition="before" matBadgeColor="accent" matBadgeOverlap="false">{{titleMessage}}</mat-card-title>
        <mat-card-subtitle>CITANZ</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="12" *ngIf="resultPanelVisible">
            <mat-grid-tile *ngFor="let attendee of luckyAttendees" [colspan]="1" [rowspan]="1" rowHeight="100px">
                <div>
                    <div><img class="img big-img center" [src]="attendee.photo" /></div>
                    <div class="name"><span>{{attendee.name}}</span></div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12">
            <mat-grid-tile *ngFor="let attendee of attendees" [colspan]="1" [rowspan]="1" rowHeight="100px">
                <div [@openClose]="attendee.isSelected ? 'open' : 'closed'">
                    <div><img class="img center" [src]="attendee.photo" /></div>
                    <div class="name"><span>{{attendee.name}}</span></div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <div class="panel">
            <button class="center" *ngIf="controlButtonVisible" mat-raised-button color="accent" (click)="startLottery()">{{buttonPlayText}}</button>
            <div *ngIf="confirmResultButtonsVisible">
                <span class="center">On the spot?</span>
                <button class="center center-button" mat-raised-button color="accent" (click)="confirmResultYes()">Yes!</button>
                <button class="center center-button" mat-raised-button (click)="confirmResultNo()">No!</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>


<router-outlet></router-outlet>